<div class="task-lists">
  <app-task-list class="list-container"
   app-drop
   [dragEnterClass]="'drag-enter'"
   [dropTags]="['task-item', 'task-list']"
   [app-drag]="true"
   [dragTag]="'task-list'"
   [draggedClass]="'drag-start'"
   [dragData]="list"
   (dropped)="handleMove($event,list)"
   *ngFor="let list of lists">
    <app-task-header [header]="list.name"
     (newTask)="launchNewTaskDialog()"
    (moveAll)="launchCopyTaskDialog()"
    (delList)="launchConfirmDialog()"
    (onEditList)="launchEditListDialog()"></app-task-header>
    <app-task-item *ngFor="let task of list.tasks" [item]="task" (taskClick)="launchUpdateTaskDialog(task)">

    </app-task-item>
  </app-task-list>
</div>


<button class="fab-button" mat-fab (click)="launchNewListDialog()">
  <mat-icon>add</mat-icon>
</button>
